<% provide :title, t(".title") %>
<% provide :button_text, t(".title") %>
<div class="col-md-2 col-xs-0">
  <h1><%= t ".title" %></h1>
</div>
<div class="col-md-8 col-xs-12">
  <%= render "form" %>
</div>
