<footer class="footer">
	<div id="footer" class="footer">
	    <div class="container">
	        <div class="row">
	            <h3 class="footertext">About Us:</h3>
	            <br>
		      <div class="container footer-logo">
		              <a href='#'><i class="fa fa-twitch fa-3x fa-fw"></i></a>
		              <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
		              <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
		              <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
		              <a href='#'><i class="fa fa-rss fa-3x fa-fw"></i></a>
		              <a href='#'><i class="fa fa-vine fa-3x fa-fw"></i></a>
		              <a href='#'><i class="fa fa-flickr fa-3x fa-fw"></i></a>
		              <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
		            </span>
		      </div>
	              <div class="col-md-4">
	                <center>
	                  <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
	                  <br>
	                  <h4 class="footertext">Programmer</h4>
	                  <p class="footertext">
	                  	Thanks for your support:<br>
				<a href="https://fb.co/caphee1504">Quy Hoang</a><br>
				<a href="https://fb.co/phanTien13">Phan Tien</a>
	                  <p>
	                </center>
	              </div>
	              <div class="col-md-4">
	                <center>
	                  <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
	                  <br>
	                  <h4 class="footertext">Artist</h4>
	                  <p class="footertext">All the images here are hand drawn by <br>
				<a href="https://fb.co/caphee1504">Quy Hoang</a><br>
				<a href="https://fb.co/phanTien13">Phan Tien</a>
	                  <p>
	                </center>
	              </div>
	              <div class="col-md-4">
	                <center>
	                  <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
	                  <br>
	                  <h4 class="footertext">Designer</h4>
	                  <p class="footertext">This pretty site and the copy it holds are all thanks to <br>
				<a href="https://fb.co/caphee1504">Quy Hoang</a><br>
				<a href="https://fb.co/phanTien13">Phan Tien</a>
			<p>
	                </center>
	              </div>
	            </div>
	            <div class="row">
	            <p><center><a href="#">Contact Here</a> <p class="footertext">Copyright 2017</p></center></p>
	        </div>
	    </div>
	</div>
</footer>
